.btn{
	.font-primary;
	.border-radius(4px);
	.transition(0.2s);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: visible;
	letter-spacing: 1px;
	color: #fff;
	outline: none;
	background: @color-orange;
}
.btn:hover,.btn-hover{
	background: @color-link;
}