.container{
	.clearfix;
	width: 1000px;
	margin: auto;
	text-align: left;
}
#page{
	.container;
	.box-shadow(0 0 6px rgba(0,0,0,0.4));
	position: relative;
	margin: 52px auto;
	background: #fffbf2 url(../images/bg/02.jpg) top;
}
#page-header{
	.clearfix;
	padding: 23px 0 19px;
	.logo{
		float: left;
		padding: 0 0 0 36px;
		a{
			display: block;
			float: left;
			width: 128px;
			height: 77px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
		span{
			display: block;
			float: left;
			width: 370px;
			margin: 0 0 0 29px;
			padding: 16px 0 0 0;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 15px;
			line-height: 1.4;
			letter-spacing: 3px;
			strong{
				font-weight: 600;
			}
		}
	}
}
#col-bottom{
	.clearfix;
	padding: 77px 40px 39px;
}
#page-footer{
	.clearfix;
	clear: both;
	padding: 14px 40px;
	color: #ddd2b2;
	background: #8f5444;
	a{
		color: #ddd2b2;
	}
	.copy{
		float: left;
		padding: 14px 0 10px;
		font-size: 13px;
		line-height: 1;
		p{
			margin: 0;
		}
	}
	.xart{
		float: right;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 1;
		padding: 15px 0 5px;
		a{
			text-decoration: none;
		}
		img{
			float: right;
			margin: -3px -4px 0 10px;
		}
	}
}
#col-main{
	width: 660px;
	padding: 0 40px;
	float: right;
	margin: 60px 0 0;
}
#col-left{
	width: 200px;
	padding: 0 20px 0 38px;
	margin: 60px 0 0;
	float: left;
	border-right: 1px dotted @color-primary;
}
#gotop{
	a{
		.border-radius(4px);
		.transition(0.2s);
		.font-icon;
		position: fixed;
		bottom: -60px;
		right: 20px;
		height: 52px;
		width: 52px;
		text-indent: -9999px;
		line-height: 52px;
		text-align: center;
		background: @color-link;
		color: #fff;
		-webkit-opacity: 0.8;
		-moz-opacity: 0.8;
		opacity: 0.8;
		filter:alpha(opacity=80);
		&:before{
			position: absolute;
			top:0;
			left: 0;
			width: 52px;
			text-indent: 0;
			content: '\e805';
			font-size: 22px;
			text-align: center;
		}
		&:hover{
			-webkit-opacity: 0.8;
			-moz-opacity: 0.8;
			opacity: 0.8;
			filter:alpha(opacity=80);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}
@media screen and (min-width: 1480px){
	#page{
		left: -200px;
	}
}
@media screen and (min-width: 1200px){
	#page{
		left: -80px;
	}
}