.mod_jflanguageselection{
	float: right;
	padding: 65px 22px 0 0;
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 1px;
			margin: 0 0 0 10px;
			&:before{
				position: static;
				content: '/';
				margin: 0 8px 0 0;
			}
			&:first-child:before{
				content: '';
			}
			a{
				color: @color-primary;
				text-decoration: none;
				&:hover{
					color: @color-link;
					text-decoration: underline;
				}
			}
			&.active{
				font-weight: 700;
				a{
					color: @color-link;
				}
			}
		}
	}
}
.mod_menu-main{
	position: relative;
	z-index: 9999;
	margin: 0 0 5px;
	background: #90060b url(../images/bg/04.png) no-repeat;
	&:before,&:after{
		position: absolute;
		content: '';
		right: 100%;
		top: 0;
		height: 65px;
		width: 18px;
		background: url(../images/bg/03.png) no-repeat;
	}
	&:after{
		right: auto;
		left: 100%;
		background-position: right top;
	}
	&>ul{
		.clearfix;
		.reset-ul;
		padding: 0 26px;
		&>li{
			.reset-li;
			position: relative;
			float: left;
			&>a{
				.transition(0.2s);
				position: relative;
				display: block;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 15px;
				font-weight: 300;
				line-height: 53px;
				letter-spacing: 1px;
				padding: 4px 0 0;
				margin: 0 9px;
				&:hover{
					color: @color-orange;
				}
			}
			&.active{
				a{
					&:before{
						position: absolute;
						content: '';
						left: 0;
						top: 0;
						width: 100%;
						height: 4px;
						background: @color-orange;
					}
				}
			}
			&>ul{
				.reset-ul;
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 150px;
				border-top: 1px solid #fff;
				background: @color-link;
				padding: 10px 20px;
				li{
					.reset-li;
					font-weight: 300;
					text-transform: uppercase;
					font-size: 13px;
					line-height: 1.1;
					margin: 10px 0;
					a{
						color: #fff;
						text-decoration: none;
						&:hover{
							color: @color-orange;
						}
					}
					&.act{
						&>a{
							color: @color-orange;
						}
					}
				}
				ul{
					.reset-ul;
					li{
						text-transform: none;
						padding: 0 0 0 16px;
						&:before{
							color: #fff;
							top: 0;
							content: '\25e6';
						}
					}
				}
			}
			&:hover{
				&>ul{
					display: block;
				}
			}
		}
	}
}
.mod_custom-booking{
	.transition(0.2s);
	position: relative;
	height: 400px;
	overflow: hidden;
	.slider{
		position: relative;
		ul{
			.reset-ul;
			li{
				.reset-li;
				position: relative;
				.content{
					.font-spec;
					position: absolute;
					left: 0;
					top: 0;
					width: 674px;
					min-height: 89px;
					padding: 23px 37px 10px;
					color: #fff;
					text-shadow: 1px 1px 0 #000;
					font-size: 40px;
					line-height: 1;
					background: rgb(53,11,0);
					background: rgba(53,11,0,0.7);
					border-bottom: 3px solid rgb(28,6,0);
					border-bottom: 3px solid rgba(28,6,0,0.9);
					filter:alpha(opacity=90);
					p{
						margin: 0;
					}
				}
			}
		}
		.pager{
			position: absolute;
			z-index: 999;
			left: 20px;
			bottom: 20px;
			span{
				display: block;
				float: left;
				height: 5px;
				width: 24px;
				margin: 0 6px 0 0;
				text-indent: -9999px;
				background: #e0d5b5;
				cursor: pointer;
				&.cycle-pager-active{
					background: #935c4b;
				}
			}
		}
	}
	.mod-booking{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 999;
		float: right;
		width: 250px;
		.mod-top{
			position: relative;
			color: #ddd2b2;
			font-size: 15px;
			line-height: 1;
			text-align: right;
			min-height: 87px;
			padding: 25px 25px 10px 10px;
			margin: 0 0 1px;
			background: rgb(53,11,0);
			background: rgba(53,11,0,0.9);
			border-bottom: 3px solid rgb(28,6,0);
			border-bottom: 3px solid rgba(28,6,0,0.9);
			cursor: pointer;
			.lt-ie9 &{
				padding-top: 23px;
			}
			&:before{
				.font-icon;
				.border-radius(25px);
				position: absolute;
				content: '\e800';
				left: -25px;
				top: 52px;
				width: 50px;
				height: 50px;
				line-height: 55px;
				text-align: center;
				font-size: 37px;
				background: @color-orange;
				color: #fff;
				overflow: hidden;
			}
			a{
				color: #ddd2b2;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			.mod-title{
				color: #fff;
				font-size: 16px;
				line-height: 1;
				font-weight: bold;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				margin: 0 0 12px;
			}
			.phone{
				color: @color-orange;
				font-size: 25px;
				line-height: 1;
				font-weight: 800;
				white-space: nowrap;
				margin: 0 0 5px;
				letter-spacing: -0.01em;
				span{
					font-weight: 300;
					color: #ddd2b2;
					font-size: 14px;
					margin: 0 -4px 0 0;
					letter-spacing: 0;
				}
			}
			.email{
				margin: 0 0 0 22px;
				letter-spacing: 0.012em;
			}
		}
		.mod-form{
			padding: 38px 20px 0 40px;
			min-height: 234px;
			border-top: 2px solid rgb(240,235,221);
			border-top: 2px solid rgba(240,235,221,0.8);
			background: rgb(221,210,178);
			background: rgba(221,210,178,0.8);
			label{
				display: block;
				line-height: 1;
				letter-spacing: -0.025em;
			}
			input[type=text]{
				.reset-input;
				.border-radius(3px);
				font-size: 14px;
				height: 18px;
				padding: 5px 7px;
				margin: 7px 0 23px;
				width: 116px;
				color: @color-primary;
				border: 1px solid #5d5647;
				border-bottom: 0;
				border-right: 0;
				background: #fffbf2;
				background: rgba(221,210,178,0.8);
				&:focus{
					background: #fff;
				}
			}
			.icon{
				position: relative;
				top: 3px;
				font-size: 29px;
				line-height: 1;
				color: #3e3433;
				margin: 0 0 0 5px;
				cursor: pointer;
				&:hover{
					color: @color-link;
				}
			}
			input[type=submit]{
				.btn;
				height: 37px;
				text-align: left;
				line-height: 37px;
				margin-top: -3px;
				padding: 0 24px;
				&:hover{
					.btn-hover;
				}
			}
		}
	}
	&.condensed{
		height: 125px;
		.slider{
			top: -135px;
			.pager{
				bottom: 157px;
			}
		}
		.mod-booking{
			.mod-title{
				font-size: 14px;
				line-height: 1.4;
				margin: 0 0 9px;
				&:before{
					float: right;
					content: '';
					margin: 4px -3px -5px 6px;
					border: 10px solid transparent;
					border-top-color: @color-orange;
				}
			}
		}
	}
}
.mod_custom-banners{
	.clearfix;
	position: relative;
	z-index: 999;
	padding: 0 0 0 20px;
	background: #ff9200 url(../images/bg/05.png) no-repeat;
	.item{
		position: relative;
		float: left;
		width: 320px;
		height: 260px;
		text-align: center;
		h2{
			text-transform: uppercase;
			color: #1e1b1d;
			font-weight: bold;
			font-size: 15px;
			line-height: 1.4;
			letter-spacing: 3px;
			margin: 46px 0 30px;
		}
		figure{
			position: absolute;
			z-index: 1;
			bottom: -35px;
			left: 50%;
			margin-left: -85px;
			height: 174px;
			width: 170px;
			overflow: hidden;
		}
		ul{
			.reset-ul;
			.transition(0.2s);
			z-index: -999;
			position: absolute;
			left: 0;
			top: 202px;
			width: 100%;
			text-align: left;
			padding: 0;
			height: 0;
			overflow: hidden;
			background: #ffd65c;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjkyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background-image: -moz-linear-gradient(top,  #ffd65c 0%, #ff9200 100%);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65c), color-stop(100%,#ff9200));
			background-image: -webkit-linear-gradient(top,  #ffd65c 0%,#ff9200 100%);
			background-image: -o-linear-gradient(top,  #ffd65c 0%,#ff9200 100%);
			background-image: -ms-linear-gradient(top,  #ffd65c 0%,#ff9200 100%);
			background-image: linear-gradient(to bottom,  #ffd65c 0%,#ff9200 100%);
			.lt-ie9 &{
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65c', endColorstr='#ff9200',GradientType=0 );
			}
			li{
				.reset-li;
				padding: 0 0 0 15px;
				margin: 0 30px 11px 66px;
				font-size: 15px;
				line-height: 1;
				text-transform: uppercase;
				&:before{
					.font-primary;
					font-size: 22px;
					line-height: 1;
					top: -7px;
					left: 0;
					content: '\203a';
				}
				a{
					color: @color-primary;
					text-decoration: none;
					&:hover{
						color: @color-link;
						text-decoration: underline;
					}
				}
			}
		}
		&:hover{
			ul{
				padding: 113px 0 28px 0;
				height: auto;
			}
		}
	}
	ul.items{
		.reset-ul;
		.clearfix;
		margin: 0 0 0 -20px;
		border-bottom: 5px solid #fff;
		li{
			.reset-li;
			float: left;
			width: 333px;
			a{
				display: block;
				padding: 20px 0 10px 95px;
				text-transform: uppercase;
				text-decoration: none;
				line-height: 1.4;
				font-weight: 600;
				letter-spacing: 1px;
				min-height: 45px;
				color: @color-primary;
				figure{
					position: absolute;
					top: 8px;
					left: 17px;
					width: 64px;
					height: 64px;
					overflow: hidden;
				}
				&:hover{
					figure{
						img{
							position: relative;
							display: block;
							top: -100%;
						}
					}
				}
			}
		}
	}
}
.mod_newsflash_xart{
	width: 311px;
	float: left;
	border-right: 1px dotted @color-primary;
	.tabs{
		.reset-ul;
		.clearfix;
		position: relative;
		&:after{
			position: absolute;
			content: '';
			left: 0;
			bottom: 0;
			width: 100%;
			height: 6px;
		}
		li{
			.reset-li;
			position: relative;
			float: left;
			a{
				.border-radius(4px);
				.box-shadow(inset 3px -1px 3px rgba(0,0,0,0.3));
				display: block;
				height: 39px;
				line-height: 39px;
				padding: 0 17px;
				margin: 0 -5px 0 0;
				color: #ddd2b2;
				background: #8f5444;
				text-decoration: none;
				border-left: 1px dotted #ddd2b2;
				border-right: 1px dotted #ddd2b2;
				&:hover{
					color: #fff;
					border-color: @color-orange;
					background: @color-orange;
				}
			}
			&:nth-child(1){
				z-index: 3;
			}
			&:nth-child(2){
				z-index: 2;
			}
			&:nth-child(3){
				z-index: 1;
			}
			&:nth-child(3){
				z-index: 0;
			}
			&.cycle-pager-active{
				z-index: 9;
				a{
					.box-shadow(none);
					border-color: transparent;
					color: @color-primary;
					padding-top: 3px;
					padding-bottom: 3px;
					margin-top: -3px;
					margin-bottom: -3px;
					background: #ffaa38;
					background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWEzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background-image: -moz-linear-gradient(top,  #ffaa38 0%, #ffffff 100%);
					background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaa38), color-stop(100%,#ffffff));
					background-image: -webkit-linear-gradient(top,  #ffaa38 0%,#ffffff 100%);
					background-image: -o-linear-gradient(top,  #ffaa38 0%,#ffffff 100%);
					background-image: -ms-linear-gradient(top,  #ffaa38 0%,#ffffff 100%);
					background-image: linear-gradient(to bottom,  #ffaa38 0%,#ffffff 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa38', endColorstr='#ffffff',GradientType=0 );

				}
			}
		}
	}
	.slider{
		clear: both;
	}
	section{
		clear: both;
		padding: 2px 0;
	}
	article{
		.clearfix;
		clear: both;
		font-size: 13px;
		line-height: 1.3;
		padding: 0 40px 0 0;
		margin: 24px 0 0;
		figure{
			img{
				.border-radius(4px);
				float: left;
				margin: 0 22px 5px 0;
			}
		}
		h2{
			font-size: 14px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 6px;
		}
		p{
			margin: 0;
		}
	}
}
.mod_custom-kontakt{
	.clearfix;
	float: right;
	width: 568px;
	.content{
		float: left;
		width: 280px;
		padding: 22px 0 0;
		.mod-title{
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1;
			letter-spacing: 4px;
			color: @color-link;
			margin: 0 0 19px;
		}
		address{
			font-style: normal;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1.7;
			margin: 0 60px 23px 0;
			background: url(../images/bg/06.png) no-repeat right;
		}
		.mod-bottom{
			position: relative;
			text-transform: uppercase;
			font-size: 14px;
			padding: 0 0 0 59px;
			&:before{
				.font-icon;
				.border-radius(24px);
				position: absolute;
				content: '\e800';
				left: 0;
				top: -1px;
				width: 48px;
				height: 48px;
				line-height: 48px;
				text-align: center;
				font-size: 36px;
				background: @color-orange;
				color: #fff;
				overflow: hidden;
			}
			a{
				color: @color-primary;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			.phone{
				font-size: 26px;
				line-height: 1;
				font-weight: 800;
				margin: 0 0 8px;
				letter-spacing: 0.01em;
				span{
					font-weight: bold;
					font-size: 14px;
					margin: 0 -4px 0 0;
					letter-spacing: 0;
				}
			}
			.email{
				line-height: 1;
			}
		}
	}
	.map{
		position: relative;
		width: 275px;
		float: right;
		margin: -10px 0 0;
		a{
			position: relative;
			display: block;
			img{
				.border-radius(123px);
				.transition(0.2s);
				position: relative;
				display: block;
			}
			&:hover{
				img{
					-webkit-opacity: 0.9;
					-moz-opacity: 0.9;
					opacity: 0.9;
					filter:alpha(opacity=90);
				}
			}
			&:before{
				.font-icon;
				.border-radius(24px);
				position: absolute;
				z-index: 1;
				content: '\e802';
				right: 27px;
				bottom: 37px;
				width: 48px;
				height: 48px;
				line-height: 48px;
				text-align: center;
				font-size: 36px;
				background: @color-orange;
				color: #fff;
				overflow: hidden;
			}
		}
	}
}
.mod_banners{
	.box-shadow(inset 0 1px 2px rgba(0,0,0,0.05));
	clear: both;
	padding: 30px 0 12px;
	border-top: 1px solid #eee;
	background: #fff;
	ul{
		.reset-ul;
		.clearfix;
		padding: 0 20px;
		li{
			.reset-li;
			float: left;
			margin: 0 0 10px 10px;
		}
	}
}
.mod_custom-media{
	float: left;
	margin: 0 8px 0 0;
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			span{
				.border-radius(19px);
				display: block;
				height: 38px;
				width: 38px;
				line-height: 38px;
				margin: 0 10px 0 0;
				color: #fff;
				text-align: center;
				font-size: 25px;
				background: #5c110e;
			}
		}
	}
}
.mod_menu-submenu{
	ul{
		.reset-ul;
		li{
			.reset-li;
			font-size: 13px;
			line-height: 1;
			text-transform: uppercase;
			padding: 0 0 0 18px;
			margin: 0 0 17px;
			&.act{
				font-weight: bold;
				&:before{
					background-position: 0 0;
				}
			}
			&:before{
				width: 11px;
				height: 11px;
				top: 0;
				left: 0;
				font-weight: normal;
				background: url(../images/icon/07.png) no-repeat 0 -11px;
			}
			a{
				text-decoration: none;
				color: @color-primary;
				&:hover{
					text-decoration: underline;
				}
			}
			ul{
				padding: 20px 0 1px 0;
				margin: 0 0 -14px;
				li{
					&:before{
						content: '\25e6';
						background: none;
						font-size: 24px;
						line-height: 1;
						top: -6px;
						width: auto;
						height: auto;
						overflow: visible;
					}
				}
			}
		}
	}
}
.ui-datepicker{
	.border-radius(3px);
	display: none;
	padding: 7px;
	border: 1px solid @color-primary;
	background: @color-orange;
}
.ui-datepicker-calendar{
	td,th{
		a,span{
			display: block;
			height: 22px;
			width: 22px;
			line-height: 22px;
			font-size: 12px;
			font-weight: bold;
			text-decoration: none;
			text-align: center;
		}
	}
}
.ui-datepicker-prev,.ui-datepicker-next{
	float: left;
	font-weight: bold;
	font-size: 11px;
}
.ui-datepicker-next{
	float: right;
}
.ui-datepicker-title{
	clear: both;
	margin: 0 -7px;
	padding: 2px 0;
	font-weight: bold;
	color: #fff;
	background: @color-primary;
}
.ui-datepicker-today{
	background: rgba(255,255,255,0.4);
}