
.icon-phone:before { content: '\e800'; } /* '' */
.icon-calendar-empty:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */